<div class=" panel panel-primary">

    <!-- Headings -->
    <div class="panel-heading"><div class="row">
        <div class="col-xs-4 text-center">
            <h3 class="panel-title">Metal</h3>
            <img src="img/metall.gif"><br>
        </div>
        <div class="col-xs-4 text-center">
            <h3 class="panel-title">Crystal</h3>
            <img src="img/kristall.gif"><br>
        </div>
        <div class="col-xs-4 text-center">
            <h3 class="panel-title">Deuterium</h3>
            <img src="img/deuterium.gif"><br>
        </div>
    </div></div>

    <div class="panel-body">

        <!-- Production -->
        <div class="bottom-separator row">
            <!-- Metal -->
            <div class="col-xs-4 text-center">
                Hourly: <br class="visible-xs"><strong>
                {{getValue(metalProduction) | number}}
                {{getMultiplier(metalProduction)}}
            </strong><br>
                Daily: <br class="visible-xs"><strong>
                {{getValue(metalProduction * 24) | number}}
                {{getMultiplier(metalProduction * 24)}}
            </strong><br>
                Weekly: <br class="visible-xs"><strong>
                {{getValue(metalProduction * 24 * 7) | number}}
                {{getMultiplier(metalProduction * 24 * 7)}}
            </strong><br></div>
            <!-- Crystal -->
            <div class="col-xs-4 text-center">
                Hourly: <br class="visible-xs"><strong>
                {{getValue(crystalProduction) | number}}
                {{getMultiplier(crystalProduction)}}
            </strong><br>
                Daily: <br class="visible-xs"><strong>
                {{getValue(crystalProduction * 24) | number}}
                {{getMultiplier(crystalProduction * 24)}}
            </strong><br>
                Weekly: <br class="visible-xs"><strong>
                {{getValue(crystalProduction * 24 * 7) | number}}
                {{getMultiplier(crystalProduction * 24 * 7)}}
            </strong><br></div>
            <!-- Deuterium -->
            <div class="col-xs-4 text-center">
                Hourly: <br class="visible-xs"><strong>
                {{getValue(deuteriumProduction) | number}}
                {{getMultiplier(deuteriumProduction)}}
            </strong><br>
                Daily: <br class="visible-xs"><strong>
                {{getValue(deuteriumProduction * 24) | number}}
                {{getMultiplier(deuteriumProduction * 24)}}
            </strong><br>
                Weekly: <br class="visible-xs"><strong>
                {{getValue(deuteriumProduction * 24 * 7) | number}}
                {{getMultiplier(deuteriumProduction * 24 * 7)}}
            </strong><br></div>
        </div>

        <!-- Global parameters -->
        <div class="form-inline" id="global-params">
            <div class="form-group">
                <label>Plasma level: </label>
                <input type="number" class="form-control input-sm text-right" min="0" ng-model="player.plasmaLevel">
            </div>
            <div class="form-group pull-right">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="shortenResults">Shorten results
                    </label>
                </div>
            </div>
            <div class="form-group pull-right">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="player.geologist">Geologist
                    </label>
                </div>
            </div>
        </div>

    </div><!-- panel-body -->

</div><!-- panel -->
