.planet-panel > .panel-heading {
    /*background-color: #44587d;*/
    background-color: #fff;
    height: 48px;
    padding-right: 10px;
    color: #000;
}

.planet-panel .panel-title {
    line-height: 28px;
    cursor: move;
}

.planet-panel a {
    color: #000 !important;
}

.planet-panel .panel-footer {
    background-color: #44587d;
    font-size: 0;
    color: #fff;
}

.planet-panel > .panel-footer > span {
    /*color: #fff;*/
    font-size: 10pt;
}

.mine-level .form-control, .max-temp .form-control-static {
    padding-left: 5px;
}

.drag-over-lower .panel{
    -webkit-box-shadow: -3px 0 10px #557;
    -moz-box-shadow: -3px 0 10px #557;
    box-shadow: -3px 0 10px #557;
}
.drag-over-greater .panel{
    -webkit-box-shadow: 3px 0 10px #557;
    -moz-box-shadow: 3px 0 10px #557;
    box-shadow: 3px 0 10px #557;
}

.drag-over-greater {
    /*border-right: 3px solid #3178ee;*/
    border-width: 0;
    border-right-width: 3px;
    border-right-style: solid;
    -webkit-border-image:
        -webkit-linear-gradient(rgba(0,0,0,0), #3178ee, #3178ee, #3178ee, rgba(0,0,0,0), rgba(0,0,0,0)) 1 100%;
    -moz-border-image:
        -moz-linear-gradient(rgba(0,0,0,0), #3178ee, #3178ee, #3178ee, rgba(0,0,0,0), rgba(0,0,0,0)) 1 100%;
    -o-border-image:
        -o-linear-gradient(rgba(0,0,0,0), #3178ee, #3178ee, #3178ee, rgba(0,0,0,0), rgba(0,0,0,0)) 1 100%;
}

.drag-over-lower {
    /*border-left: 3px solid #3178ee;*/
    border-width: 0;
    border-left-width: 3px;
    border-left-style: solid;
    -webkit-border-image:
        -webkit-linear-gradient(rgba(0,0,0,0), #3178ee, #3178ee, #3178ee, rgba(0,0,0,0), rgba(0,0,0,0)) 1 100%;
    -moz-border-image:
        -moz-linear-gradient(rgba(0,0,0,0), #3178ee, #3178ee, #3178ee, rgba(0,0,0,0), rgba(0,0,0,0)) 1 100%;
    -o-border-image:
        -o-linear-gradient(rgba(0,0,0,0), #3178ee, #3178ee, #3178ee, rgba(0,0,0,0), rgba(0,0,0,0)) 1 100%;
}

.dragging {
    opacity: 0.4;
}

.dropdown-menu {
    cursor: default !important;
}