<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Ogame resources calculator</title>

    <!-- LIBRARY STYLES -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/paper/bootstrap.min.css">

    <!-- OWN STYLES -->
    <!-- inject:css -->
    <!-- endinject -->

    <!-- LIBRARY SCRIPTS -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head>
<body data-ng-app="ogameCalculator" data-ng-controller="mainController">

    <edit-dialog></edit-dialog>

    <!-- CONTENT -->
    <div class="container">

        <!-- TITLE -->
        <div class="page-header text-center">
            <h1 class="text-center">OGame Resources Calculator [v.BETA]</h1>
        </div>

        <!-- HEADING -->
        <div class="row">

            <!-- SUMMARY AND GLOBAL PARAMETERS -->
            <global-card></global-card>

            <!-- SHOW CALCULATOR BUTTON -->
            <!--<div class="col-sm-offset-4 col-sm-4">
                <button class="btn btn-primary btn-block" disabled>Show calculator</button>
            </div>-->

        </div>

        <!-- PLANET LIST -->
        <fieldset class="row">
            <legend>Your planets</legend>

            <!-- PLANET CARDS -->
            <div data-ng-repeat="planet in player.planets track by $index">
                <planet-card></planet-card>
            </div>

            <!-- ADD PLANET BUTTON -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <button class="btn btn-default btn-block"  data-toggle="modal"
                        data-target="#editModal" ng-click="createPlanet()">
                    Add a planet
                </button>
            </div>

        </fieldset>
    </div>

    <footer></footer>

    <!-- OWN SCRIPTS -->
    <!-- inject:js -->
    <!-- endinject -->
</body>
</html>